html, body {
   font-family: Verdana, Arial, Helvetica, sans-serif;
   font-size: 12px;
   color: #666666;
}

table.list {
   border: 1px solid #ccc;
   margin-top: 10px;
   margin-size: 10px;
   font-size: 11px;
}

table.list th {
   font-family: Arial, Helvetica, sans-serif;
   background: #EDECEB;
   color: #434A4C;
   padding: 6px;
   border: 1px solid #ccc;
   font-size: 11px;
   text-align: left;
}

table.list th a, table.list th a:visited {
   background-color: transparent;
   color: #434A4C;
   text-decoration: none;
}

table.list th img {
   vertical-align: middle;
}

table.list td {
   vertical-align: top;
   padding: 3px
}

tr.odd {
   background: #e8ecf5;
   border-top: 1px solid #C0C0C0;
}

tr.even {
   background: #ffffff;
}

div.sandbar-form div.form-header {
   padding: 3px;
   background: #e8ecf5 url(../images/form_blue_edit.png) no-repeat 4px 4px;
   border: 1px solid #C0C0C0;
   margin-bottom: 10px;
   padding-left: 30px;
}

div.sandbar-form div.form-header table {
 width: 100%;
}

div.sandbar-form span.form-title {
 font-family: Arial, Verdana, Arial, Helvetica, sans-serif;
 font-size: 18px;
 font-weight: bold;
 height: 40px;
 vertical-align: top;
 color: #666666;
}

div.form-header span.header-buttons {
 text-align: right;
}

div.sandbar-form div.form-footer {
 background: #e8ecf5;
 padding: 5px;
 border: 1px solid #C0C0C0;
 margin-top: 10px;
}

div.sandbar-form td {
 padding-left: 5px;
 color: #666;
}

#footer {
 padding: 10px;
 color: #666666;
 font-size: 11px;
 margin-bottom: 30px;
}

#footer a {
 font-weight: bold;
 color: #666666;
 font-size: 11px;
}

div#idea-actions {
   color: #666666;
}

div#idea-actions a {
   color: #666666;
   font-weight: bold;
   text-decoration: none;
}

div#idea-actions a:hover {
   text-decoration: underline;
}

div.filter-and-sort-table {
   padding-top: 5px;
}
